name: Test Project

on:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Setup Poetry
        uses: Gr1N/setup-poetry@v1
      - name: Install Node dependencies
        run: |
          npm install
      - name: Install Python dependencies
        run: |
          make install
      - name: Run CI Tests
        run: |
          make ci
      - name: Prepare Deploy
        run: |
          make serverless_pre_install
      - name: Deploy Serverless
        uses: serverless/github-action@v1.53.0
        with:
          args: deploy
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
